{% extends "employees/base.html" %}
{% block title %}
  payslip
{% endblock title %}
{% block content_header %}
  Payslip
{% endblock content_header %}
{% block content %}
  <form action="{% url 'payslips' %}" method="post" target="_blank">
    {% csrf_token %}
    <div class="form-group">
      <label for="employee">Select Employee</label>
      <select class="ui search dropdown fluid"
              name="employee"
              id="employee"
              required>
        <option value="intro" disabled hidden>Search by typing the name</option>
        {% for employee in employees %}
          <option {% if employee.hourly_rate < 0 %}disabled{% endif %}
                  value="{{ employee.pk }}">{{ employee.name }} - {{ employee.phone_number }}</option>
        {% endfor %}
      </select>
      <script type="text/javascript">
            jQuery('.ui.search.dropdown')
              .dropdown();
      </script>
    </div>
    <div class="form-group">
      <label for="from_date">From</label>
      <input type="date" id="from" name="from_date" required class="form-control">
    </div>
    <div class="form-group">
      <label for="to_date">To</label>
      <input type="date" id="to" name="to_date" required class="form-control">
    </div>
    <div class="form-group">
      <label for="mode">Mode</label>
      <select class="form-select form-select-lg mb-3"
              id="mode"
              name="mode"
              required>
        <option value="readonly">Readonly</option>
        {% if user.is_admin %}<option value="mark_paid">Mark as paid</option>{% endif %}
      </select>
      <small id="caution" style="color:red; display: none"> ATTENTION: this mode will mark registrations as paid. Choose READONLY mode if you want to view employee payslips in readonly mode without registering payments </small>
    </div>
    <button type="submit" class="btn btn-secondary">Download Payslip</button>
  </form>
  <script>
    var mode = $("#mode")
    

    mode.on('change', function() {
      if (this.value == "readonly")
      $("#caution").hide()
      else $("#caution").show()
    });

  </script>
{% endblock content %}
