{% extends "employees/base.html" %}
{% block title %}
  Create Employee
{% endblock title %}
{% block content_header %}
  Create Employee
{% endblock content_header %}
{% block content %}
  <form action="{% url 'create_employee' %}" method="post">
    <p style="color:red">{{ error }}</p>
    {% csrf_token %}
    <div class="form-group">
      <label for="employeeName">Name</label>
      <input type="text"
             class="form-control"
             id="employeeName"
             name="name"
             required
             placeholder="Enter Employee Name"
             value="{{ employee.name }}">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text"
             class="form-control"
             id="phoneNumber"
             name="phone_number"
             value="{{ employee.phone_number }}"
             required
             placeholder="Enter Employee Phone Number">
    </div>
    {% if user.is_admin %}
      <div class="form-group">
        <label for="employeeSite">Choose Associated site</label>
        <select id="employeeSite"
                name="site"
                required
                class="form-select form-select-lg mb-3"
                aria-label=".form-select-lg">
          {% for site in sites %}
            <option {% if site.pk == employee.site.pk %}selected{% endif %}
                    value="{{ site.pk }}">{{ site.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="dailyRate">Daily Rate ($)</label>
        <input type="number"
               class="form-control"
               id="dailyRate"
               name="daily_rate"
               required
               value="{{ employee.daily_rate }}"
               placeholder="Enter daily rate">
      </div>
      <div class="form-group">
        <label for="overtimeFactor">Overtime Factor</label>
        <input type="number"
               value="1"
               class="form-control"
               id="overtimeFactor"
               name="overtime_factor"
               required
               value="{{ employee.overtime_factor }}"
               placeholder="Enter Overtime Factor"
               step="0.01"
               aria-describedby="overtimeFactorHelp">
        <small id="overtimeFactorHelp" class="form-text text-muted">Overtime hours will be multiplied by this factor</small>
      </div>
    {% endif %}
    <div class="form-group">
      <label for="employeeLabel">Choose Employee Label</label>
      <select id="employeeLabel"
              name="label"
              required
              class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg">
        {% for label in labels %}
          <option {% if label.pk == employee.label.pk %}selected{% endif %}
                  value="{{ label.pk }}">{{ label.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
{% endblock content %}
