{% extends "employees/base.html" %}
{% block title %}
  Delete Employee
{% endblock title %}
{% block content %}
  {% if request.user.is_admin or request.user.manager.site.pk == employee.site.pk %}
    <form action="{% url 'delete_employee' employee.pk %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="delete_confirmation">
          Are you sure you want to delete this employee ({{ employee.name }} - {{ employee.phone_number }})?
        </label>
        <select id="delete_confirmation"
                name="delete_confirmation"
                class="form-select form-select-lg mb-3"
                aria-label=".form-select-lg">
          <option value="NO" selected>NO</option>
          <option value="YES">YES</option>
        </select>
      </div>
      <button type="submit" class="btn btn-secondary">Confirm</button>
    </form>
  {% else %}
    Unauthorized Access
  {% endif %}
{% endblock content %}
